* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: arial, serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  gap: 50px;
}

button {
  box-shadow: 3px 3px black;
  border: 2px solid black;
  width: 90px;
  height: 30px;
  background-color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
}

button:hover {
  background-color: thistle;
}

button:active {
  background-color: thistle;
  box-shadow: inset 0 0 5px;
}

header {
  display: flex;
  margin: 10vh 15% 3% 15%;
  font-size: 2rem;
}

#recent-score {
  display: flex;
  flex-direction: column;
  padding: 2%;
  width: 35%;
}

#add-score {
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.recent-score__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 1.3rem;
}

.scores {
  border: 2px solid black;
  max-height: 50vh;
  overflow: auto;
}

.score-wrapper {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.625rem;
  padding: 10px 20px 10px 20px;
}

.score-wrapper:nth-child(even) {
  background-color: rgb(214, 208, 208);
}

.score-wrapper > h3 {
  font-size: 1rem;
}

.add-score__heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 1.3rem;
}

.add-score__input {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-top: 10px;
}

input {
  border: 2px solid black;
  max-width: 400px;
  height: 30px;
  padding-left: 5px;
}

input::placeholder {
  font-size: 0.8rem;
  color: #000;
  font-weight: bold;
}

form > p {
  align-self: center;
  color: blue;
}

#submit-button {
  align-self: flex-end;
}
